.button {
  display: flex;
  align-items: center;
  justify-content: center;


  padding: 2.4rem 3.5rem;

  border-radius: 3rem;
  outline: none;

  color: #ffffff;
  font-family: 'GothamPro-Bold';
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.035rem;

  transition: 0.5s ease;

  border: none;

  &--green {
    background-color: #09b952;

    &:hover, &:active {
      background-color: #179a4d;
    }
  }
}